<%= simple_form_for @post, local: true do |form| %>

  <p>
    <%= form.input :image %>
  </p>

  <p>
    <%= form.input :title %><br />
  </p>

  <p>
    <%= form.button :submit %>
  </p>

  
  <% end %>
